.container {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  justify-content: space-between;
  left: 100px;
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 99900;
}

.container ul {
  display: flex;
}

.container li {
  padding: 10px;
}
