.wrapper {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  /* text-align: center; */
}

.input {
  /* border: 1px solid red; */
  width: 45%;
}

.error-message {
  /* border: 1px solid blue; */
  width: 50%;
  padding-top: 23px;
}
